[submodule "tests/deps/tsrkit-pvm"]
	path = tests/deps/tsrkit-pvm
	url = https://github.com/chainscore/tsrkit-pvm.git
	branch = feat/mypyc
[submodule "tests/deps/tsrkit-asm"]
	path = tests/deps/tsrkit-asm
	url = https://github.com/chainscore/tsrkit-asm.git
	branch = main
[submodule "tests/deps/tsrkit-types"]
	path = tests/deps/tsrkit-types
	url = https://github.com/chainscore/tsrkit-types.git
	branch = main
[submodule "polkaports"]
	path = polkaports
	url = https://github.com/paritytech/polkaports.git
